*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
}

.nav{
    width: 100%;
    height: 70px;
    background-color: #67ca67;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-item{
    margin: 10px;
    padding: 10px 15px;
    text-decoration: none;
    color: black;
}

.nav-item:hover{
    background-color: #adfaad;
    color: #3e3c3c;
}

.main-section{
    width: 100%;
    height: 10rem;
    font-size: 2rem;
    background-color: #434040;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
}

.image{
    width: 90%;
    height: 30rem;
    margin-bottom: 20px;
    overflow: hidden;
    position: relative;

}

.image-slide{
    display: flex;
    width: 100%;
    height: 20rem;
}

.section-image{
    width: 100%;
    height: 40rem;
    object-fit: cover;
    display: flex;

}

#prevButton{
    position: absolute;
    top: 50%;
    z-index: 10;
    left: 5%;
    font-size: 30px;
    color: wheat;
    opacity: 0.5;
    pointer: cursor;
}

#nextButton{
    position: absolute;
    top: 50%;
    z-index: 10;
    right: 5%;
    font-size: 30px;
    color: whitesmoke;
    opacity: 0.5;
    pointer: cursor;
}



.section-image img{
    width: 100%;
}

.text{
    width: 100%;
    margin-top: 5rem;
    height: 25rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.row{
    width: 100%;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: baseline;
    font-family: 'Raleway';

}

.first-col{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 200px;
}

.first-col-header{
    margin-bottom: 20px;
}

.first-col-header h4{
    color: #67ca67;
    text-transform: uppercase;
    font-size: 1.5rem;
}
.first-col-header p{
    font-size: .9rem;
}


.second-col{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.second-col-header{
    width: 100%;
    color: #67ca67;
    text-transform: uppercase;
    display: flex;
    font-size: 1.3rem;
    margin-bottom: 20px;
}


.second-col-h5{
    width: 50%;
    font-size: 0.9rem;
    margin: 10px;
    padding: 10px;
    border-bottom: .5px solid #d9d8d8;
}

footer{
    width: 100%;
    background-color: #3c3939;
}

.footer-row{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
    padding-bottom: 20px;
}

.footer-row h5{
    color: whitesmoke;
    text-transform: uppercase;
    font-size: 1.4rem;
}

.footer-col-1{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer-col-2{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.footer-col-3{
    margin-top: 20px;
    flex-direction: column;
    justify-content: center;
}

.footer-col-3 p{
    color: #a29b9b;
}

.footer-btns{
    margin-top: 50px;
    border-radius: 6px;
    padding: 10px 20px;
    background-color: #7fff7f;
    outline: none;
    color: #3e3c3c;

}

.footer-btns:hover{
    background-color: #a29b9b;
    color: white;
}

.footer-link{
    display: inline-block;
    padding: 8px;
    color: #9f9e9e;
}

.copy-right{
    width: 100%;
    height: 10rem;
    background-color: #65c365;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #545353;
}

.form-container{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    background-color: #65c365;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-form{
    min-width: 30%;
    height: 35vh;
    padding: 10px;
    background-color: lightpink;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.login-form input{
    padding: 7px 10px;
    border-radius: 3px;
    outline: none;
    border: 1px solid #aeabab;
}

.login-button{
    padding: 7px 30px;
    border: 1px solid #aeabab;
    background-color: lightblue;
    border-radius: 5px;
    outline: none;
    color: #5b5959;
    font-size: 1rem;
}

.login-button:hover{
    background-color: white;
    color: goldenrod;
}

.register-form{
    min-width: 30%;
    height: 45vh;
    padding: 10px;
    background-color: lightpink;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.register-form input {
    padding: 7px 10px;
    border-radius: 3px;
    outline: none;
    border: 1px solid #aeabab;
}

.contact-us{
    min-width: 30%;
    height: 45vh;
    padding: 10px;
    background-color: orangered;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.contact-us input {
    padding: 7px 10px;
    border-radius: 3px;
    outline: none;
    border: 1px solid #aeabab;
}

.contact-us-container{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    background-color: orange;
    display: flex;
    justify-content: center;
    align-items: center;
}

#register-error{
    font-size: 1rem;
    color: red;
    letter-spacing: 1px;
    padding: 3px 6px;

    border-radius: 2px;
}

#login-error{
    font-size: 1rem;
    color: red;
    letter-spacing: 1px;
    padding: 3px 6px;
    border-radius: 2px;
}

.about-container{
    background-color: #daff55;
    height: 20rem;
    width: 100%;
    display: flex;
    font-size: 2rem;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-desc{
    width: 100%;
    height: 10%;
    font-size: 2rem;
    color: black;
    text-align: center;
    background-color: #daff55;
   padding: 20px;
}

.about-image{
    width: 100%;
    display: flex;
    background-color: #daff55;
    padding-bottom: 20px;
}

.about-img-div{
    flex: 25%;
    padding: 15px;
    overflow: hidden;
}
.about-img{
    width: 100%;
    height: 100%;

}

.about-desc2{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #daff55;
    text-align: center;
    font-size: 1rem;
}

@media screen and (max-width: 1310px){
    .row{
        flex-flow: wrap;
        align-content: center;
        justify-content: center;
    }

    .first-col{
        margin-bottom: 2rem;
        min-width: 80%;
    }



    .second-col-lines{
        display: flex;
    }
    .second-col-header{
        margin: 20px auto;
        justify-content: center;
    }
}

@media screen and (max-width: 570px){
    .second-col{
        min-width: 80%;
    }

    .second-col-lines{
        max-width: 80%;
        flex-flow: wrap;
        margin-left: 22%;
    }

    .second-col-h5{
        min-width: 80%;
        padding: 0;
    }
    .footer-row{
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .footer-col-1{
        width: 100%;
        align-items: center;
    }

    .second-col{
        display: none;
    }

    .footer-col-2{
        width: 100%;
        align-items: center;
    }
    .footer-col-3{
        width: 100%;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (max-width: 540px){
    .copy-right{
        text-align: center;
    }

    .footer-row{
        width: 100%;
        flex-direction: column;
        font-size: 1.1rem;
        justify-content: center;
        align-items: center;
    }

    .footer-col-1{
        width: 100%;
        align-items: center;
    }

    .footer-col-2{
        width: 100%;
        align-items: center;
    }
    .footer-col-3{
        width: 100%;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
}
